.content {
    display: flex;
    flex-direction: column;
}

.filters {
    flex-direction: row;
}

.values-wrapper {
    height: 200px;
    margin: 20px;
    background-color: aquamarine;
    text-overflow: clip;
    overflow: hidden;
}